{% extends "layout.html" %}

{% block content %}
{% load static %}

<!-- Features Section -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="section-title text-center mb-4">
            <h2>Features</h2>
            <p>You can sell, invest, buy pokemons. Pokemons get valued based on how many battles they won, the higher the value of the pokemon they fight, the higher the reward when winning.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="{% static 'banking/assets/img/placeholder-512-512.png' %}" class="img-fluid rounded" alt="Features Image">
            </div>
            <div class="col-md-7">
                <h3>You have a Brokerdex with the pokemons you invested in</h3>
                <p class="fst-italic">Each pokemon has their unique history in the simulated world</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Pokemons may birth new pokemons into the market.</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>If the pokemon is on a winning streak since your investment, you earn a bonus each time they win more!</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
