{% extends "layout.html" %}

{% block content %}
{% load static %}

<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Brokerdex – Invest in pokemons and win battles!</p>
        <a href="{% url 'account:register' %}" class="btn btn-primary btn-lg mt-3">Get Started</a>
    </div>
</section>
<!-- Services Section -->
<section class="py-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md-6 col-lg-4">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bxl-dribbble"></i>
                    </div>
                    <h4 class="title">Invest in pokemons</h4>
                    <p class="description">Buy or invest in pokemons to start earning when they win battles.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-file"></i>
                    </div>
                    <h4 class="title">Exchange</h4>
                    <p class="description">You can exchange pokemons between other players.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bx-world"></i>
                    </div>
                    <h4 class="title">Hatch new pokemons</h4>
                    <p class="description">Hatch new pokemons and put them in the market.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features Section -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="section-title text-center mb-4">
            <h2>Features</h2>
            <p>You can sell, invest, buy pokemons. Pokemons get valued based on how many battles they won, the higher the value of the pokemon they fight, the higher the reward when winning.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5">
                {% load static %}
                <img src="{% static 'banking/assets/img/pikachu-seeklogo.png' %}" class="img-fluid rounded" alt="Features Image">
            </div>
            <div class="col-md-7">
                <h3>You have a Brokerdex with the pokemons you invested in</h3>
                <p class="fst-italic">Each pokemon has their unique history in the simulated world</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>Pokemons may birth new pokemons into the market.</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-success me-2"></i>If the pokemon is on a winning streak since your investment, you earn a bonus each time they win more!</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
